{% extends "main.html" %}
{% block main %}
<div class="container">
    <div class="row">
        <form class="row g-3 needs-validation" id="form">
            <div class="col-md-4">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome." required>
            </div>
            <div class="col-md-4">
                <label for="sobrenome" class="form-label">Sobre nome</label>
                <input type="text" class="form-control" id="sobrenome" name="sobrenome"
                    placeholder="Por favor digite seu sobre nome" required>
            </div>
            <div class="col-md-4">
                <label for="cpf" class="form-label">CPF</label>
                <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Por favor digite seu CPF"
                    required>
            </div>
            <div class="col-md-6">
          <label for="cpf" class="form-label">CPF</label>
          <input type="text" class="form-control" id="cpf_cnpj" name="cpf" placeholder="Digite seu CPF ou CNPJ"
            required>
          <div class="valid-feedback">Válido!</div>
          <div class="invalid-feedback">Informe um CPF válido.</div>
        </div>
                </div>
            </div>
            <div class="col-md-6">
          <label for="rg" class="form-label">RG</label>
          <input type="text" class="form-control" id="rg" name="rg" placeholder="Digite seu RG"
            required>
          <div class="valid-feedback">Válido!</div>
          <div class="invalid-feedback">Informe um RG válido.</div>
        </div>
            <div class="col-md-6">
          <label for="telefone" class="form-label">Telefoe</label>
          <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Digite seu RG"
            required>
          <div class="valid-feedback">Válido!</div>
          <div class="invalid-feedback">Informe um Telefone válido.</div>
        </div>
            <div class="col-md-6">
          <label for="email" class="form-label">RG</label>
          <input type="text" class="form-control" id="email" name="email" placeholder="Digite seu RG"
            required>
          <div class="valid-feedback">Válido!</div>
          <div class="invalid-feedback">Informe um Email válido.</div>
        </div>
            <div class="col-md-3">
                <label for="validationCustom05" class="form-label">Zip</label>
                <input type="text" class="form-control" id="validationCustom05" required>
                <div class="invalid-feedback">
                    Please provide a valid zip.
                </div>
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                        Agree to terms and conditions
                    </label>
                    <div class="invalid-feedback">
                        You must agree before submitting.
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="button" id="insert">Salvar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
{% include "script.html" %}
<script defer type="module" src="/js/user.js"></script>
{% endblock %}